<section id="widget-grid">
		<div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-ng-click="close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	          <h4 class="modal-title" id="mySmallModalLabel" data-localize="自定义同步"></h4>
	        </div>
	        <div class="modal-body">
				<form class="form" name="addUseradminFrom" method="post" ng-submit="addUseradminFrom.$valid"  novalidate>
					<div class="form-group">
						<label localize="请选择需要同步的域分组"></label>
					</div>
					<div class="row">
						<label class="col-xs-5" localize="选择分组">选择分组</label>
						<label class="col-xs-offset-2 col-xs-5" localize="已选分组">已选分组</label>
					</div>
					<div class="form-group">
						<div class="user-menus">
							<div class="col-xs-5 menus">
								<div class="text-center">
									<img ng-src="img/building.gif" data-ng-if="status == 'loading'">
								</div>

								<div class="menu menu-tree" data-ng-if="status == 'completed'">
									<div class="menu_header" ng-repeat="item in ous" ng-click="item._selected = !item._selected" ng-dblclick="select(item)" ng-class="{itemActive:item._selected}">
										{{ item.fullname }}
									</div>
								</div>
							</div>
							
							<div class="col-xs-2 text-center domain-operators" style="margin-top: 40px;">
								<button ng-click="select()" type="button" class="btn btn-default btn-sm"><i class="fa fa-arrow-right"></i></button>
							</div>
							<div class="col-xs-5 menus">
								<ul class="menu">
									<div class="menu_body">
										<li data-ng-dblclick="removeSelected(selected_item)" ng-repeat="selected_item in selected">
											{{ selected_item.fullname }}
											<span class="pull-right fa icon-jj-Delete" data-ng-click="removeSelected(selected_item)"></span>
										</li>
									</div>
								</ul>
							</div>
						</div>
					</div>
					
<!-- 					<div class="form-group">
						<label class="checkbox-inline">
							<input type="checkbox" class="checkbox style-0" data-ng-model="data.scope" name="scope">
							<span localize="包含子目录">包含子目录</span>
						</label>
					</div> -->
					<footer class="text-right">
				    	<button type="submit" name="button" disabled="disabled" class="btn btn-primary"
								data-ng-disabled="addUseradminFrom.$invalid || !selected.length"
								data-ng-click="ok()" data-localize="确定"></button>
						<button type='button' name="close" class="btn btn-default"
								data-ng-click="close()" data-localize="取消"></button>
					</footer>
				</form>
	        </div>

      </div>

</section>