<div class="modal-header">
	<button type="button" class="close" data-ng-click="close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title" localize="COPY_TEM">模板另存为</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal ng-pristine ng-valid" name="saveTemplate" novalidate>

		<div class="form-group">
			<label class="col-xs-3 control-label required" localize="模板名称">模板名称</label>
			<div class="col-xs-6">
				<input class="form-control" type="text" ng-model="name" required data-ng-minlength="2" data-ng-maxlength="20" data-localize="LENGTH_LIMIT" param1="{{2}}" param2="{{20}}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-3 control-label" data-localize="描述"></label>
			<div class="col-xs-6">
				<textarea class="form-control"
					style="height: 60px;" 
					rows="4"
					name="desc"
					data-localize="不能超过30位字符"
					maxlength="30"
					data-ng-maxlength="30"
					data-ng-model="description"
				>
				</textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-3 control-label required" localize="模板类型">模板类型</label>
			<div class="col-xs-9">
				<label class="radio radio-inline">
					<input type="radio" class="radiobox" name="style-0a" ng-model="type" value="1" required>
					<span localize="教学模板">教学模板</span> 	
				</label>
				<label class="radio radio-inline">
					<input type="radio" class="radiobox" name="style-0a" ng-model="type" value="2">
					<span localize="个人模板">个人模板</span>  
				</label>
			</div>
		</div>

		<div class="form-group " data-ng-show="is_copy || currentItem">
			<label class="col-xs-3 control-label" localize="所有人">所有人</label>
			<div class="col-xs-6">
				<select class="form-control" data-ng-options="owner.name for owner in owners" data-ng-model="$parent.owner" required>
				</select> 
			</div>
		</div>
		<div class="form-group ">
			<label class="col-xs-3 control-label required" for="network" data-localize="宿主机"></label>
			<div class="col-xs-6">
				<select class="form-control" required data-ng-options="host.host_name for host in hosts track by host.host_uuid"
					data-ng-disabled="host_loading"
					data-ng-change="getNetwork(host)"
					data-ng-model="host">
					<option value="" localize="--请选择--"></option>
				</select>
			</div>
<!-- 			<label class="col-xs-3 checkbox-inline checkbox-align" data-ng-show="temData.virtual_type=='hyper-v'">
				<input class="checkbox ng-pristine ng-valid" type="checkbox" name="open" data-ng-model="enable_gpu" data-ng-change="getVirtualHost(temData.virtual_type, enable_gpu)">
				<span data-localize="启用GPU加速">启用GPU加速</span>
			</label> -->
		</div>
		<div class="form-group ">
			<label class="col-xs-3 control-label required" for="network" data-localize="网络"></label>
			<div class="col-xs-6">
				<select class="form-control" required data-ng-options="network.name for network in networks track by network.id"
					data-ng-change="switchSubnet(network, this)"
					data-ng-model="network">
				</select>
			</div>
		</div>
		<div class="form-group ">
			<label class="col-xs-3 control-label required" for="subnet" data-localize="子网"></label>
			<div class="col-xs-6">
				<select class="form-control" data-ng-disabled="network_loading" data-ng-options="subnet.name+' ('+ subnet.start_ip + '~' + subnet.end_ip +')' for subnet in subnets track by subnet.id"
					data-ng-change="switchIps(subnet, this)"
					data-ng-model="subnet">
					<option value="" data-localize="不分配"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-3 control-label" data-localize="绑定IP"></label>
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon" style="padding: 0 4px;">
						<label style="margin-top: 3px;">
							<select data-ng-model="bind_ip_type" ng-disabled='bind_ip_type.value=="none"' ng-options="type.name for type in types track by type.value" ng-change='bind_ip.value=nul'></select>
						</label>
					</span>
					<label class="text classroomNet " data-ng-class="{bind_ip_able:bind_ip_type.value=='static' && subnets.length===0,bind_ip_disable:bind_ip_type.value!=='static' || subnets.length===0}" style="margin: 0;">
<!-- 						<select class="form-control" disabled data-ng-if="bind_ip_type.value==='static' && band_ips[0]=='无可用IP'" data-ng-options="ip for ip in band_ips"  data-ng-disabled="subnets.length===0 || bind_ip_loading"
							data-ng-model="bind_ip.value" ng-init="bind_ip.value=band_ips[0]">
						</select> -->
						<input type="text" format-ip data-ng-if="bind_ip_type.value==='static'" start="subnet.start_ip" end="subnet.end_ip" class="form-control" ng-model="bind_ip.value" required>
					</label>
				</div>
			</div>
		</div>
	</form>
	<footer class="text-right">
		<img data-ng-if="temCopy" src="./img/building.gif" width="24px">
		<button ng-if="!submiting && !saveTemp && !temCopy" type="button" class="btn btn-primary" ng-class="{disabled:saveTemplate.$invalid}" data-ng-disabled="temCopy" ng-click="ok()" localize="确定">
			确定
		</button>
		<button ng-if="!temCopy" type="button" class="btn btn-default" ng-click="close()" localize="取消">
			取消
		</button>
		<img src="img/loadingtext.gif" alt="" ng-if="submiting" class="loadingtext" style="width:24px;height:24px;"> 
	</footer>
</div>
