<section id="widget-grid">
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div data-widget-grid class="jarviswidget">
				<!-- widget div-->
				<div class="noborder">
					<div class="jarviswidget-editbox"></div>
					<div class="widget-body no-padding">
						<div class="form-inline no-footer">
							<div class="dt-toolbar">
								<div class="col-xs-6 col-sm-6">
                                    <button class="btn btn-primary btn-xs" ng-disabled="hasHA_loading" ng-click="add()"><i class="fa icon-jj-addddd"></i>&nbsp;<span localize="新增">新增</span></button>
                                    <!-- <button class="btn btn-danger btn-xs" data-ng-class="{disabled:!checkOne()}" ng-click="delete()"><i class="fa icon-jj-delete"></i>&nbsp;<span localize="删除">删除</span></button> -->
                                    <!-- <ul class="dropdown-menu">
                                        <li><a class="isBatch text-center" href="javascript:" ng-click="open_storage_dialog('logic')" localize="普通网络"></a></li>
                                        <li><a class="isBatch text-center" href="javascript:" ng-click="open_storage_dialog('vlan')">VLAN</a></li>
                                    </ul> -->
								</div>
								<div class="right_side col-xs-6 col-sm-6">
									<div class="pull-right filter"> <span localize="显示"></span> <select ng-change="pageSizeChange()" data-ng-model="pagesize" data-ng-options="pagesize for pagesize in pagesizes"></select> <span localize="项结果"></span> </div>
								</div> 
							</div>
						</div>
						<div class="table-responsive">
							<table data-vdi-grid
								class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox table-vertical-center">
								<thead class="vdi_header">
									<tr>
                                        <th localize="名称">名称</th>
                                        <th localize="关联分布式虚拟交换机">关联分布式虚拟交换机</th>
                                        <th localize="类型">类型</th>

                                        <th localize="子网数量">子网数量</th>
                                        <th>VLAN ID</th>
								
                                        <th localize="操作">操作</th>
									</tr>
								</thead>
								<tbody class="vdi_body">
									
									<tr data-ng-repeat="item in rows | paging:currentPage:pagesize:rows">
                                        <td width="20%"><a href="#/network/dataNetwork/{{item.id}}">{{item.name}}</a></td>
                                        <td>{{ item.switch_name }}</td>
                                        <td>
	                                        <span>{{item.switch_type}}</span>
                                        </td>
										
										<td>{{ item.subnet_count }}</td>
										<td>{{ item.vlan_id }}</td>

                                        <td class="nowrap"> 
                                        	<div ng-show="item.type!=='bridge'">
                                        		<button localize-title='新增子网' class="btn btn-xs btn-default" ng-disabled="hasHA_loading" ng-click="new_sub_network(item.id)"><i class="fa icon-jj-add-1"></i></button>
                                        		<abbr class="abbr-title" localize-title='不可编辑'><button class="btn btn-xs btn-default" ng-disabled="item.un_edit" ng-show="item.un_edit"><i class="fa icon-jj-Write"></i></button></abbr>
                                        		<button localize-title='编辑' class="btn btn-xs btn-default" ng-disabled="item.un_edit || hasHA_loading" ng-show="!item.un_edit" ng-click="alter(item)"><i class="fa icon-jj-Write"></i></button>
                                        		<button localize-title='删除' class="btn btn-xs btn-default" ng-disabled="hasHA_loading" ng-click="delete(item)"><i class="fa icon-jj-delete"></i></button>
                                        	</div>
                                        </td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="tips" data-ng-if="loading"  localize="LOADING_TEXT">数据正在加载...</div>
						<div class="tips" data-ng-if="!loading && rows.length == 0"  localize="NO_MATCHING_DATA">没有匹配数据</div>
						<div data-ng-include="'includes/pagination.html'"></div>
					</div>
					<!-- end widget content -->
				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->
		</article>
		<!-- WIDGET END -->
	</div>
	<!-- end row -->
</section>
<script>pageSetUp();</script>