<section id="widget-grid">
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div data-widget-grid class="jarviswidget">
				<header class="nobgheader">
					<div class="col-sm-9">
						<span localize="运行状态">运行状态</span>：<select class="selectclassroomName filter" ng-change="changeStatus()" ng-model="select" >
							<option value="" localize="全部状态">全部</option>
							<option value="running" localize="开机状态">开机</option>
							<option value="shutdown" localize="关机状态">关机</option>
							<option value="paused" localize="挂起状态">挂起</option>
							<option value="migrating" localize="迁移状态">迁移</option>
							<option value="building" localize="创建中状态">创建中</option>
							<option value="error" localize="错误状态">错误</option>
							<option value="crashed" localize="异常状态">异常</option>
							<option value="nostate" localize="未知异常状态">未知异常</option>
						</select>&nbsp;&nbsp;&nbsp;&nbsp;
						<span class="totalmess ng-binding" localize="DESKTOP_TOTAL_MESS"
						 param1="{{(rows | filter:searchText | filter:{status:select}).length }}"
						 param2="{{(rows | filter:searchText | filter:{status:select} | filter:{status:'running'}).length }}"
						 param3="{{(rows | filter:searchText | filter:{status:select} | filter:{status:'shutdown'}).length }}"></span>	
					</div>
				</header>
				<!-- widget div-->
				<div class="noborder">
					<!-- widget content -->
					<div class="widget-body no-padding">
						<section class="dt-toolbar">
							<div class="left_side left-btn-group col-xs-6 col-sm-6">
								<a class="btn btn-xs btn-primary" href="#/system/desktop"><i class="fa  icon-jj-recovery"></i>&nbsp;<span localize="返回">返回</span></a>
								<a class="btn btn-xs btn-primary" href="javascript:" ng-click="add()"><i class="fa  icon-jj-addddd"></i>&nbsp;<span localize="新增">新增</span></a>
								<!-- <a class="btn btn-xs btn-primary" data-ng-if="templateNum==0" href="#/template/personal"><i class="fa  icon-jj-addddd"></i>&nbsp;<span localize="新增">新增</span></a> -->
								<a class="btn btn-xs btn-primary isBatch" data-ng-class="{disabled:!checkOne()}" data-ng-click="start()" href="javascript:"><i class="fa icon-jj-boot"></i>&nbsp;<span localize="开机">开机</span></a>
								<div class="btn-group">
									<button class="btn btn-xs btn-primary dropdown-toggle isBatch" data-ng-class="{disabled:!checkOne()}" data-toggle="dropdown"><i class="fa icon-jj-shutdown"></i>&nbsp;<span localize="关机">关机</span> <span class="caret"></span></button>
									<ul class="dropdown-menu">
										<li><a class="isBatch" data-ng-click="forceShutdown()" href="javascript:" ><span localize="强制关机">强制关机</span></a></li>
										<li class="divider"></li>
										<li><a class="isBatch" data-ng-click="natureShutdown()" href="javascript:"><span localize="自然关机">自然关机</span></a></li>
									</ul>
								</div>
								<a class="btn btn-xs btn-primary isBatch" data-ng-class="{disabled:!checkOne()}" data-ng-click="restart()" href="javascript:"><i class="fa  icon-jj-Restart"></i>&nbsp;<span localize="重启">重启</span></a>
								<a class="btn btn-xs btn-primary isBatch" data-ng-class="{disabled:!checkOne()}" data-ng-click="pause()" href="javascript:"><i class="fa icon-jj-pause"></i>&nbsp;<span localize="暂停">暂停</span></a>
								<a class="btn btn-xs btn-primary isBatch" data-ng-class="{disabled:!checkOne()}" data-ng-click="resume()" href="javascript:"><i class="fa  icon-jj-Recovery"></i>&nbsp;<span localize="恢复">恢复</span></a>
								<a class="btn btn-xs btn-danger isBatch" data-ng-class="{disabled:!checkOne()}" data-ng-click="delete()" href="javascript:"><i class="icon-jj-delete fa"></i>&nbsp;<span localize="删除">删除</span></a>
							</div>
							<div class="right_side col-xs-6 col-sm-6">
								<div class="pull-right filter"> <span localize="显示"></span> <input min="1" max="500" placeholder="1-500" type="number" class="mysmallinput" data-ng-model="pagesize" ng-change="pageSizeChange()" input-number></input> <span localize="项结果"></span> </div>
								<div class="pull-right dataTables_filter search"><label><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span> <input type="search" maxlength="20"  class="form-control" ng-model="searchText" data-localize-placeholder="桌面名" ng-change="updataData()"></label></div>
							</div>
						</section>
						<div class="table-responsive">
							<table
								class="table table-vertical-center table-striped table-condensed table-hover smart-form has-tickbox"
								width="100%">
									<thead class="vdi_header">
										<tr>
											<th><label class="checkbox"><input type="checkbox" data-ng-model="checkedAll" data-ng-change="selectAllChange(checkedAll)" data-ng-checked="checkAll(all)" name="checkbox-inline"><i></i></label></th>

											<th ng-model="desktopSort" ng-click="desktopSort = !desktopSort;sort('display_name', desktopSort)" localize="桌面名">桌面</th>
											<th ng-model="runStatus" ng-click="runStatus = !runStatus;sort('status', runStatus)"  localize="运行状态">运行状态</th>
											<th><span localize="桌面"></span>IP/MAC</th>

								
											<th localize="CPU/内存">CPU/内存</th>
											<th localize="宿主机">宿主机</th>

											<th localize="操作">操作</th>
										</tr>
									</thead>
									<tbody class="vdi_body">
										<tr
											data-ng-repeat="item in rows  | filter:searchText| paging:currentPage:pagesize "
											data-contextmenu
											data-id="{{ item.id }}">
											<td><label class="checkbox"><input data-ng-model="item._selected"  type="checkbox" ng-click="select_network(item,$index);" name="checkbox-inline"><i></i></label></td>

											<td><p title="{{item.instance_id}}">{{ item.display_name }}</p>
												<p>
													<span ng-if="item.usb_redir " class="fa icon-jj-usb flag-icon"></span>
													<span ng-if="item.ha_enabled" class="fa icon-jj-HA flag-icon"></span>
												</p>
											</td>
											<td><span ng-if="item.status=='running'" localize-title="开机状态" class="status32" ng-class="item.status"></span>
												<span ng-if="item.status=='shutdown'" localize-title="关机状态" class="status32" ng-class="item.status"></span>
												<span ng-if="item.status=='paused'" localize-title="挂起状态" class="status32" ng-class="item.status"></span>
												<span ng-if="item.status=='migrating'" localize-title="迁移状态" class="status32" ng-class="item.status"></span>
												<span ng-if="item.status=='building'" class="status32" ng-class="item.status"></span>
												<span ng-if="item.status=='error' ||item.status=='crashed' || item.status=='nostate'" localize-title="错误状态" class="status32" ng-class="item.status"></span>
												<p>{{ item.running_time }}</p></td>
											<td><p>{{ item.ips }}</p><p>{{ item.mac }}</p></td>

											<td>{{ item.vcpu }} <span localize='核'></span> / {{item.memory_mb/1024 }}GB</td>
											<td>{{ item.hostname }}</td>

											<td class="view_personal_desktop">
												<button class="btn btn-xs btn-default"  data-ng-click="config(item)" localize-title="配置桌面"><i class="fa icon-jj-005"></i></button>
												<a class="btn btn-xs btn-default" data-id="{{ item.image_id }}" data-os-type="{{ item.os_type }}" onclick="window.open('templateModify.html#' + this.getAttribute('data-id') + '&' + this.getAttribute('data-os-type') + '&system_desktop');return false;" href="javascript:" data-localize-title="编辑桌面"><i class="fa icon-jj-Write"></i></a>
											</td>
										</tr>
									</tbody>
							</table>
						</div>
						<div class="tips" data-ng-if="loading"  localize="LOADING_TEXT">数据正在加载...</div>
						<div class="tips" data-ng-if="!loading && rows.length == 0" localize="NO_MATCHING_DATA">没有匹配数据</div>
						<div data-ng-include="'includes/pagination.html'"></div>
					</div>
					<!-- end widget content -->
				</div>
				<!-- end widget div -->
				<section class="context_wrapper">
					<div data-ng-if="currentItem" class="menu_wrapper grid_context_menu">
						<ul class="menu_item_list">
							<li class="menu_item" ng-disabled="currentItem.status!=='shutdown' && currentItem.status!=='suspended'"  data-ng-click="start(currentItem)"><a class="menu_label" href="javascript:" localize="开机">开机</a></li>
							<li class="menu_item" ng-disabled="currentItem.status!=='running' && currentItem.status!=='suspended'"><a class="menu_label" href="javascript:" ><span localize="关机">关机</span><i></i></a>
								<div class="menu_wrapper sub_menu">
									<ul class="menu_item_list">
										<li class="menu_item" data-ng-click="forceShutdown(currentItem)" ng-disabled="currentItem.status!=='running' && currentItem.status!=='suspended'" ><a class="menu_label" href="javascript:" localize="强制关机">强制关机</a></li>
										<li class="menu_split"></li>
										<li class="menu_item" data-ng-click="natureShutdown(currentItem)" ng-disabled="currentItem.status!=='running' && currentItem.status!=='suspended'" ><a class="menu_label" href="javascript:" localize="自然关机">自然关机</a></li>
									</ul>
								</div>
							</li>
							<li class="menu_item" data-ng-click="restart(currentItem)"  ng-disabled="currentItem.status!=='running' && currentItem.status!=='suspended'"><a class="menu_label" href="javascript:" localize="重启">重启</a></li>
							<li class="menu_item" data-ng-click="pause(currentItem)" ng-disabled="currentItem.status!=='running'"><a class="menu_label" href="javascript:"  localize="暂停">暂停</a></li>
							<li class="menu_item" data-ng-click="resume(currentItem)" ng-disabled="currentItem.status!=='paused'"><a class="menu_label" href="javascript:"  localize="恢复">恢复</a></li>
							<li class="menu_item" data-ng-click="delete(currentItem)"><a class="menu_label" href="javascript:" localize="删除">删除</a></li>
							<!-- <li class="menu_split"></li> -->
							<!-- <li class="menu_item" data-ng-click="view(currentItem)"><a class="menu_label" href="javascript:" localize="查看桌面">查看桌面</a></li> -->
							<!-- <li class="menu_item" data-ng-model="currentItem" data-dialog="dynamicMigrationPersonalDialog" data-dialog-size="md" data-dialog-url="desktop/personal_dynamic_migration.html" ng-disabled="currentItem.status!=='running'" data-error="开机状态才可进行动态迁移！"><a class="menu_label" href="javascript:"localize="动态迁移">动态迁移</a></li> -->
							<!-- <li class="menu_item" data-ng-model="currentItem" data-dialog="alterPersonalDialog" data-dialog-size="md" data-dialog-url="desktop/personal_alter.html" data-error="关机状态才可进行桌面修改！"  ng-disabled="currentItem.status!=='shutdown'"><a class="menu_label" href="javascript:"  localize="桌面修改">桌面修改</a></li> -->
							<!-- <li class="menu_item" data-ng-model="currentItem"  data-dialog="saveTemplatePersonalDialog" data-dialog-size="md" data-dialog-url="desktop/personal_save_template.html" ng-disabled="currentItem.status!=='shutdown'" data-error="关机状态才可执行存为模板操作！"><a class="menu_label" href="javascript:"  localize="COPY_TEM">另存为模板</a></li> -->
							<!-- <li class="menu_item" data-ng-model="currentItem" data-dialog="snapshotPersonalDialog" data-dialog-size="md" data-dialog-url="desktop/personal_snapshot.html"><a class="menu_label" href="javascript:" localize="快照管理">快照管理</a></li> -->
						</ul>
					</div>
				</section>
			</div>
			<!-- end widget -->
		</article>
		<!-- WIDGET END -->
	</div>
	<!-- end item -->
</section>
<script>pageSetUp();</script>