<section >
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div data-widget-grid class="jarviswidget">
				<!-- widget div-->
					<div class="noborder">
					<!-- widget edit box -->
						<div class="jarviswidget-editbox"></div>

					<div class="widget-body no-padding">
						<section class="dt-toolbar">
							<div class="left_side col-xs-6 left-btn-group">
							</div>
							<div class="right_side col-xs-6">
								<div class="pull-right filter">
									<span data-localize="显示"></span>
									<select
										data-ng-model="pagesize"
										data-ng-change="pageSizeChange()"
										data-ng-options="pagesize for pagesize in pagesizes"
									></select>
									<span data-localize="项结果"></span>
								</div>
								<div class="pull-right dataTables_filter search"><label><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span> <input type="search" maxlength="20" class="form-control" ng-model="searchText" ></label></div>
							</div>
						</section>
						<div class="table-responsive">
							<table data-vdi-grid
									class="table table-striped table-condensed table-hover smart-form" width="100%">
									<thead class="vdi_header">
										<tr>
											<th ng-model="manufacturerSort" ng-click="manufacturerSort = !manufacturerSort;sort('manufacturer', manufacturerSort)" data-localize="设备名称"></th>
											<th data-localize="所属资源池/主机"></th>
											<th data-localize="桌面类型/透传桌面名"></th>
											<th data-localize="操作"></th>
										</tr>
									</thead>
									<tbody class="vdi_body">
										<tr data-contextmenu data-ng-repeat="item in rows | filter:searchText | paging:currentPage:pagesize">
											<td>{{ item.manufacturer }}</td>
											<td>{{ item.resource_info }}</td>
											<td><span localize="无" ng-if="item.display_name == ''"></span><span>{{ item.display_name }}</span></td>
											<td>
												<a class="btn btn-xs btn-default" ng-if="item.display_name==''" ng-click="through(item)" data-localize-title="绑定桌面"><i class="icon-041"></i></a>
												<a class="btn btn-xs btn-default" ng-if="item.display_name!==''" ng-click="editThrough(item)" data-localize-title="编辑绑定桌面"><i class="fa icon-jj-Write"></i></a>
												<a class="btn btn-xs btn-default" ng-if="item.display_name!==''" ng-click="cancelThrough(item)" data-localize-title="取消绑定桌面"><i class="fa icon-040"></i></a>
											</td>
										</tr>
									</tbody>
							</table>
						</div>
						<div class="tips" data-ng-if="loading" data-localize="LOADING_TEXT"></div>
						<div class="tips" data-ng-if="!loading && rows.length == 0" data-localize="NO_MATCHING_DATA"></div>
						<div data-ng-include="'includes/pagination.html'"></div>
					</div>
				</div>
				<section class="context_wrapper">
					<div data-ng-if="currentItem" class="menu_wrapper grid_context_menu">
						<ul class="menu_item_list">
							<li ng-if="currentItem.display_name==''" class="menu_item" ><a ng-click="through(currentItem)" data-localize="绑定桌面"></a></li>
							<li ng-if="currentItem.display_name!==''" class="menu_item" ><a ng-click="editThrough(currentItem)" data-localize="编辑绑定桌面"></a></li>
							<li ng-if="currentItem.display_name!==''" class="menu_item" ><a ng-click="cancelThrough(currentItem)" data-localize="取消绑定桌面"></a></li>
						</ul>
					</div>
				</section>
			</div>
		</article>
	</div>
</section>

<script>pageSetUp();</script>