<section id="teach-page">
	<!-- row -->
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div data-widget-grid class="jarviswidget common">
				<!-- widget div-->
				<div  class="noborder">
					<header class="nobgheader">
						<div class="col-sm-9">
						</div>
						<div class="col-sm-3 text-right">
						</div>
					</header>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">
						<div class="form-inline no-footer">
							<section class="dt-toolbar" style="border:none;">
								<div class="left_side col-xs-6 uploadFile">
									<a class="btn btn-xs btn-primary" data-ng-click="addDepartment()"><i class="icon-jj-addddd fa"></i> <span data-localize="新增用户组"></span></a>
									<a class="btn btn-xs btn-primary isBatch" data-ng-click="modifyInfo()" data-ng-class="{disabled: !selected}"><i class="fa fa-pencil"></i><span data-localize="修改" style="margin-left: 3px;"></span></a>
									<a class="btn btn-xs btn-primary isBatch" href="{{ domain }}/thor/user/excel/template?file_name=users.xls" download="users"><i class="fa fa-cloud-download"></i><span data-localize="下载模版"></span></a>
									<div ui-web-upload="user_upload"
										ui-upload-limit="10G"
										ui-upload-btn-name="导入"
										ui-upload-type="xlsx?"
										ui-upload-url="/thor/user/excel/import"
										finish-handel="finishUpload(response)"
										btn-class="btn-xs btn-primary"
										icon-class="icon-jj-Import"
										style="display: inline-block;">
									</div>
									<a class="btn btn-xs btn-primary isBatch" data-ng-class="{disabled:!selected || !selected.user_num}" href="{{ domain }}/thor/user/excel/export?department={{ selected.id }}" download='{{ selected.name }}'><i class="fa icon-jj-Export-1"></i> <span data-localize="导出"></span></a>
									<a class="btn btn-xs btn-danger isBatch" data-ng-class="{disabled:!selected || selected.user_num || selected.parent_name==''}" data-ng-click="deleteDpartment()" href="javascript:"><i class="icon-jj-delete fa"></i> <span data-localize="删除用户组"></span></a>								
								</div>
							</section>
						</div>
						<div class="row">
							<div class="panel" style="background-color: #fafafa;border: none">
								<div class="panel-body no-padding" style="margin:15px;border:1px solid #ccc;">
									<div class="col-xs-3" style="padding: 0px;">
										<div class="panel panel-default" style="margin-bottom: 0;border-top: none;border-left: none;border-bottom: none;background-color: #fafafa;">
											<div class="panel-heading" style="line-height: 23px;" data-localize="组织结构"></div>
											<div style="padding: 10px 15px" data-ng-if="!treedata_loading && !treedata.length" data-localize='无'></div>
											<div style="padding: 10px 15px" data-ng-if="treedata_loading" data-localize="LOADING_TEXT"></div>
											<div class="panel-body" style="overflow-y: auto;overflow-x: auto;min-height: 96px;padding: 10px 10px 26px 10px;">
												<treecontrol
													class="tree-classic no-padding userCommon-tree"
													tree-model="treedata"
													options="opts"
													on-selection="showSelected(node, selected)"
													expanded-nodes="expandnodes"
													selected-node="selected"
												>
													<span><i id="departmentIcon"></i>{{ node.name }}&nbsp;({{ node.user_num }})</span>
												</treecontrol>
											</div>
										</div>  
									</div>
									<div class="col-xs-9" style="padding: 0 0 20px 0;">
										<section class="dt-toolbar">
											<div class="left_side left-btn-group col-xs-6">
												<a class="btn btn-xs btn-primary" data-ng-class="{disabled:!islastGroup()}" data-dialog="addUserCommonDialog" data-dialog-size="md" data-dialog-url="user/user_common_add.html"><i class="icon-jj-addddd fa"></i> <span data-localize="新增">新增</span></a>
												<a class="btn btn-xs btn-primary" data-ng-class="{disabled:!checkOne()}" data-ng-click="moveTo()"><i class="fa icon-jj-move-1"></i> <span data-localize="移动至">移动至</span></a>
												<a class="btn btn-xs btn-danger isBatch" data-ng-class="{disabled:!checkOne()}" data-ng-click="delete()" href="javascript:;"><i class="icon-jj-delete fa"></i> <span data-localize="删除">删除</span></a>
											</div>
											<div class="right_side col-xs-6">
												<div class="pull-right filter"> <span data-localize="显示"></span> <input min="1" max="500" placeholder="1-500" type="number" class="mysmallinput" input-number data-ng-model="pagesize" data-ng-change="pageSizeChange()"> <span data-localize="项结果"></span></div>
												<div class="pull-right dataTables_filter search"><label><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span> <input type="search" maxlength="20" class="form-control" ng-model="searchText" ></label></div>
											</div>
										</section>

										<div class="table-responsive">
											<table data-vdi-grid
												class="table table-striped table-condensed table-hover smart-form has-tickbox table-vertical-center"
												width="100%">
												<thead class="vdi_header">
													<tr>
														<th>
															<label class="checkbox">
																<input type="checkbox" data-ng-model="checkedAll" data-ng-change="selectAllChange(checkedAll)" data-ng-checked="checkAll()" name="checkbox-inline">
																<i></i>
															</label>
														</th>
														<th ng-model="nameSort" ng-click="nameSort = !nameSort;sort('name', nameSort)" data-localize="登录名"></th>
														<th ng-model="real_nameSort" ng-click="real_nameSort = !real_nameSort;sort('real_name', real_nameSort)" data-localize="姓名"></th>
														<th data-localize="上次登录IP" ng-model="IPSort" ng-click="IPSort = !IPSort;sortIP(IPSort)"></th>
														<th data-localize="操作"></th>
													</tr>
												</thead>
												<tbody class="vdi_body">
													<tr data-contextmenu data-ng-repeat-start="item in rows | filter:searchText | paging:currentPage:pagesize">
														<td><label class="checkbox"><input data-ng-model="item._selected" data-ng-checked="item._selected" type="checkbox" data-ng-value="item.id" name="checkbox-inline"><i></i></label></td>
														<td><i data-ng-if="item.status" class="icon-jj-lock fa"></i> {{ item.name }}</td>
														<td>{{ item.real_name }}</td>
														<td>{{ item.last_login }}</td>
														<td>
															<button class="btn btn-xs btn-default" data-dialog="editUserCommonDialog" data-ng-model="currentItem" data-dialog-size="md" data-dialog-url="user/user_common_edit.html" data-localize-title="编辑" localize-title="用户编辑"><i class="fa icon-jj-Write"></i></button>
															<button ng-disabled="loading_detail" class="btn btn-xs btn-default" ng-show="!isFold"  data-ng-click="isFold=!isFold" localize-title="更多详情"><i class="fa icon-jj-014"></i></button>
															<button ng-disabled="loading_detail" class="btn btn-xs btn-default" ng-show="isFold" data-ng-click="isFold=!isFold" ><i class="fa icon-jj-015"></i></button></td>
														</td>
													</tr>
													<tr ng-show="isFold" class="ng-scope">
														<td colspan="7" style="border:none;padding:0 !important;">
															<table class="table table-striped table-condensed table-hover vtop-table">
																<tbody>
																	<tr>
																		<td width="33%">
																			<div class="detailsWrap">
																				<p title="{{ item.dept_full_path }}"><span class="col-xs-3" localize="所属组"></span><span class="col-xs-9">：{{ item.dept_full_path }}</span></p>
																				<p title="{{ item.desc }}"><span class="col-xs-3" localize="描述"></span><span class="col-xs-9">：{{ item.desc }}</span></p>
																			</div>
																		</td>
																		<td width="33%">
																			<div class="detailsWrap">
																				<p title="{{ item.contact }}"><span class="col-xs-3" localize="联系电话"></span><span class="col-xs-9">：{{ item.contact }}</span></p>
																				<p title="{{ item.email }}"><span class="col-xs-3" localize="电子邮箱"></span><span class="col-xs-9">：{{ item.email }}</span></p>
																			</div>
																		</td>
																		<td width="33%">
																			<div class="detailsWrap">
																				<p title="{{ item.redactor }}"><span class="col-xs-3" localize="创建者"></span><span class="col-xs-9">：{{ item.redactor }}</span></p>
																				<p title="{{ item.createdDate | date:'yyyy-MM-dd HH:mm:ss' }}"><span class="col-xs-3" localize="创建时间"></span><span class="col-xs-9">：{{ item.createdDate | date:'yyyy-MM-dd HH:mm:ss' }}</span></p>
																			</div>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
													<tr data-ng-repeat-end></tr>
												</tbody>
											</table>
										</div>
										<div class="tips" data-ng-if="user_loading" data-localize="LOADING_TEXT"></div>
										<div class="tips" data-ng-if="!user_loading && rows.length == 0" data-localize="NO_MATCHING_DATA"></div>
										<div data-ng-include="'includes/pagination.html'"></div>
									</div>
								</div>
								<section class="context_wrapper">
									<div data-ng-if="currentItem" class="menu_wrapper grid_context_menu">
										<ul class="menu_item_list">
											<li class="menu_item" ><a data-ng-if="currentItem.id !== 1" data-dialog="editUserCommonDialog" data-ng-model="currentItem" data-dialog-size="md" data-dialog-url="user/user_common_edit.html" data-localize="编辑"></a></li>
											<li class="menu_split"></li>
											<li class="menu_item"><a class="menu_label" href="javascript:" data-ng-click="delete(currentItem)" data-ng-class="{graydisabled:currentItem.instance_num != 0}" data-localize="删除"></a><span class="parameterdisabled" data-localize-title="ADMIN_TIP" data-ng-if="currentItem.instance_num != 0"></span></li>
											<li class="menu_item" ><a data-ng-click="moveTo(item)" data-localize="移动至"></a></li>
										</ul>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
<script>pageSetUp();</script>