<div class="modal-body no-padding">
	<form action="" class="smart-form ng-pristine ng-valid" name="editNameFrom" novalidate>
		<header class="myheader">
			<div><span data-localize="修改终端名"></span>
				<button type="button" class="close" data-ng-click="close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			</div>
		</header>
		<fieldset>
			<section>
                <label class="label required" data-localize="原终端名"></label>
                <label class="input">
                    <input type="text" class='form-control' disabled data-ng-model="terminal">
                </label>
			</section>
			<section>
				<label class="label required" data-localize="新终端名"></label>
                <label class="input" data-ng-class="{'state-success':editNameFrom.prename.$valid && editNameFrom.prename.$dirty,'state-error':editNameFrom.prename.$invalid && editNameFrom.prename.$dirty}">
                    <input type="text" name="prename" data-localize="2~20位英文和数字" maxlength="20" data-ng-model="prename" required data-ng-pattern="/^[A-Za-z0-9]{2,20}$/">
                </label>		
			</section>
		
		</fieldset>
		<footer>
			<button type="button" data-ng-click="close()" class="btn btn-default myfooterbtn" data-localize="取消"></button>
			<button type="submit" name="submit" class="btn btn-primary myfooterbtn" data-ng-disabled="editNameFrom.$invalid" data-ng-click="ok()" data-localize="确定"></button>
		</footer>
	</form>
</div>
<script>pageSetUp();</script>