<section id="widget-grid">
		<div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-ng-click="close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	          <h4 class="modal-title" id="mySmallModalLabel" data-localize="终端密码">终端密码</h4>
	        </div>
	        <div class="modal-body">
				<form class="form-horizontal" name="editPassFrom" method="post" novalidate>
					<div class="form-group">
						<label class="col-xs-2 control-label" for="name" data-localize="动态密码"></label>
						<div class="col-xs-9">
							<span>{{ dynamicPass }}</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label" for="desc" data-localize="计算动态密码">计算动态密码</label>
						<div class="col-xs-9">
							<div class="row">
								<div class="col-xs-6" style="padding: 0;">
									<div class="col-xs-9">
										<input type="text"
											class="form-control"
											datepicker-popup="yyyy-MM-dd"
											data-ng-model="date"
											name="date"
											is-open="$parent.startDateOpened"
											datepicker-options="startDateOptions"
											data-ng-required="true"
											ng-change="startTimeChange()"
											show-weeks="false"
											show-button-bar="false"
											required
										>
									</div>
									<button type="button" class="btn btn-default" data-ng-click="openStartDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</div>
								<div class="col-xs-3" style="padding: 0;">
									<div class="col-xs-10">
										<input class='form-control' type="number" min='0' max='24' name="houer" data-ng-model="houer" required>
									</div>
									<label class="control-label" data-localize="时">时</label>
								</div>
								
								<div class="col-xs-3" style="padding: 0;">
									<div class="col-xs-10">
										<input class='form-control' type="number" min='0' max='60' name="minute" data-ng-model="minute" required>
									</div>
									<label class="control-label" data-localize="分">分</label>
								</div>
							</div>
							<div class="row" style="padding: 5px 0 5px 0">
								<div class="col-xs-2">
									<button class="btn btn-default" data-localize="动态密码" 
											data-ng-disabled="editPassFrom.date.$invalid || editPassFrom.houer.$invalid || editPassFrom.minute.$invalid"
											data-ng-click="calculatePass()">
									</button>
								</div>
								
							</div>
							<div class="row">
								<div class="col-xs-6"><input class="form-control" type="text" disabled /></div>
							</div>


						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label" for="name" data-localize="超级密码"></label>
						<div class="col-xs-9">
							<div class="col-xs-6" style="padding: 0 10px 0 0;">
								<input class="form-control"
									type="text"
									name="name"
									data-ng-minlength="{{min_passwordLe}}" data-ng-maxlength="{{max_passwordLe}}" data-localize="LENGTH_LIMIT" param1="{{min_passwordLe}}" param2="{{max_passwordLe}}"
									required
									data-ng-model="superPass"
									data-ng-trim="true"
									data-ng-disabled="!is_edit"
								>
							</div>
							<button class="btn btn-default" data-ng-show="!is_edit" data-ng-click="is_edit = !is_edit" data-localize="修改" data-ng-click="editSuperPass()">修改</button>
							<button class="btn btn-default" data-ng-show="is_edit" data-localize="保存"></button>
							<button class="btn btn-default" data-ng-show="is_edit" data-ng-click="is_edit = !is_edit" data-localize="取消"></button>
						</div>
					</div>

				    <footer class="text-right">
		    			<button class="btn btn-default myfooterbtn"
		    					data-ng-click="close()" data-localize="关闭"></button>
		    		</footer>
				</form>
	        </div>
      </div>

</section>
