<div class="modal-header">
	<button type="button" class="close" data-ng-click="close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title" localize="上传安装包"></h4>
</div>
<div class="modal-body">
	<fieldset>
		<form class="form-horizontal" name="uploadIsoForm">
			<div class="form-group">
				<label class="col-sm-4 control-label"  localize="选择路径"></label>
				<div class="col-sm-5">
					<select  class="form-control" ng-model="type" ng-init="type='system'">
						<option value="system" localize="系统包"></option>
						<option value="package" localize="软件包"></option>
						<option value="other" localize="其它"></option>
					</select>
				</div>
			</div>
		</form>
		<footer class="text-right">
			<img ng-if="submiting" src="img/loadingtext.gif" width="24px" height="24px">
			<div ng-show="!submiting">
				<div class="inline">
					<div class="flex"
						 ui-web-upload="{{id}}"
						 ui-upload-config="uploadConfig"
						 ui-upload-btn-name="添加文件"
						 ui-upload-url="/thor/isos?type={{type}}"
						 finish-handel="finishUpload()"
					></div>
				</div>
			</div>
		</footer>
	</fieldset>
</div>

