<section>
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" data-widget-grid>
                <div class="noborder">
                    <div class="jarviswidget-editbox"></div>
                    <div class="widget-body no-padding">
                        <div class="dt-toolbar">
                            <div class="left_side left-btn-group col-xs-6 col-sm-6">
                                <a class="btn btn-xs btn-primary" href="javascript:"  data-dialog="newDeskPoolDialog" data-dialog-url="desktop/newDeskPool.html" data-dialog-size="md"><i class="fa icon-jj-addddd"></i>&nbsp;<span localize="新增">新增</span></a>
                                <a class="btn btn-xs btn-primary isBatch" data-ng-click="start()" href="javascript:" data-ng-class="{disabled:!checkOne()}"><i class="fa icon-jj-boot"></i>&nbsp;<span localize="桌面池开机"></span></a>
                                <div class="btn-group">
                                    <button class="btn btn-xs btn-primary dropdown-toggle isBatch" data-toggle="dropdown" data-ng-class="{disabled:!checkOne()}"> <i class="fa icon-jj-shutdown"></i>&nbsp;<span localize="桌面池关机"></span> <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a class="isBatch" data-ng-click="forceShutdown()" href="javascript:" data-ng-class="{disabled:!checkOne()}"><i class="fa"></i><span localize="强制关机">强制关机</span></a></li>
                                        <li class="divider"></li>
                                        <li><a class="isBatch" data-ng-click="natureShutdown()" href="javascript:" data-ng-class="{disabled:!checkOne()}"><i class="fa"></i><span localize="自然关机">自然关机</span></a></li>
                                    </ul>
                                </div>
                                <a class="btn btn-xs btn-danger isBatch" data-ng-click="delete()" href="javascript:" data-ng-class="{disabled:!checkOne()}"><i class="fa  icon-jj-delete"></i>&nbsp;<span localize="删除">删除</span></a>
                            </div>
                            <div class="right_side col-xs-6 col-sm-6">
                                <div class="pull-right filter"> <span localize="显示"></span> <input min="1" max="500" placeholder="30" class="mysmallinput" type="number" ng-change="pageSizeChange()" data-ng-model="pagesize" data-ng-options="pagesize for pagesize in pagesizes" input-number><span localize="项结果"></span> </div>
                                <div class="pull-right dataTables_filter search"><label><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span> <input type="search" maxlength="20" class="form-control" ng-model="searchText" ng-change="updateData(searchText,select)"></label></div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table data-vdi-grid
                                class="table table-striped table-condensed table-hover smart-form has-tickbox table-vertical-center"
                                width="100%">
                                <thead class="vdi_header">
                                    <tr>
                                        <th><label class="checkbox"><input type="checkbox" data-ng-model="checkedAll" data-ng-change="selectAllChange(checkedAll)" data-ng-checked="checkAll(all)" name="checkbox-inline"><i></i></label></th>

                                        <th ng-model="poolNameSort" ng-click="poolNameSort = !poolNameSort;sort('pool_name', poolNameSort)" localize="名称"></th>
                                        <th localize="所属用户组" ng-model="groupNameSort" ng-click="groupNameSort = !groupNameSort;sort('user_group_name',groupNameSort) "></th>
                                        <th ng-model="resourcePoolNameSort" ng-click="resourcePoolNameSort = !resourcePoolNameSort;sort('resource_pool_name', resourcePoolNameSort)" localize="资源池"></th>
                                        <th localize="在线/桌面数"></th>
                                        <th localize="桌面模板"></th>
                                        <th localize="硬件模板"></th>
                                        <th localize="还原属性"></th>
                                    </tr>
                                </thead>
                                <tbody class="vdi_body">
                                    <tr ng-class="{'disabled':item.status === 'making' || item.status === 'updating' || item.status === 'setting-recoverable'}" data-ng-repeat="item in rows | filter:searchText | paging:currentPage:pagesize track by $index"
                                        data-contextmenu
                                        data-id="{{ item.id }}">
                                        <td class="selectable">
                                            <label class="checkbox"><input data-ng-model="item._selected" data-ng-checked="item._selected" type="checkbox" data-ng-value="item.id" name="checkbox-inline"><i></i></label> </td>
                                        <td>
                                            <a href="#/desktop/poolList/{{item.id}}">{{ item.pool_name }}</a>
                                            <p ng-if="item.status === 'setting-recoverable'" data-localize="正在设置还原"></p>
                                        </td>
                                        <td>{{ item.user_group_name }}</td>
                                        <td>{{ item.resource_pool_name }}</td>
                                        <td>{{ item.online_count }} / {{ item.total_count }} </td>
                                        <td>{{ item.image_name }}</td>
                                        <td>{{ item.instance_type_name }}</td>
                                        <td>
                                            <p><span localize="系统盘" class="text-right td-inside-laout"></span><span class="text-left td-inside-laout">{{item.rollback_desc}}</span></p>
                                            <p ng-show="item.data_rollback!==null"><span localize="数据盘" class="text-right td-inside-laout"></span><span class="text-left td-inside-laout">{{item.data_rollback_desc}}</span></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tips" data-ng-if="loading"  localize="LOADING_TEXT">数据正在加载...</div>
                        <div class="tips" data-ng-if="!loading && rows.length == 0" localize="NO_MATCHING_DATA">没有匹配数据</div>
                        <div data-ng-include="'includes/pagination.html'"></div>
                    </div>
                </div>
                <section class="context_wrapper">
                    <div data-ng-if="currentItem" class="menu_wrapper grid_context_menu">
                        <ul class="menu_item_list">
                            <li class="menu_item" ng-disabled="currentItem.online_count > 0" data-dialog="editPoolDialog" data-dialog-url="desktop/pool_alter.html" data-dialog-size="md"><a class="menu_label" href="javascript:" localize="修改桌面池"></a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </article>
    </div>
</section>
