<section>
	<!-- row -->
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!-- Widget ID (each widget will need unique ID)-->
			<div data-widget-grid class="jarviswidget">
				<header class="nobgheader">
					<div class="col-sm-9">
						<span localize="运行状态">运行状态</span>：<select class="selectclassroomName filter" ng-disabled='loading' ng-change="updateData(searchText,select)" ng-model="select" >
							<option value="" localize="全部状态">全部</option>
							<option value="running" localize="开机状态">开机</option>
							<option value="shutdown" localize="关机状态">关机</option>
							<option value="paused" localize="挂起状态">挂起</option>
							<option value="nostate" localize="未知">未知</option>
							<option value="error" localize="错误状态">错误</option>
							<option value="other" localize="其他">其他</option>
						</select>&nbsp;&nbsp;&nbsp;&nbsp;
						<span ng-if="select" class="ng-binding" localize="DESKTOP_TOTAL_MESS"
							param1="{{(rows | paging:currentPage:pagesize | filter:searchText | filter:{status:select} | filter:{other_status:'certain'}).length + (rows | paging:currentPage:pagesize | filter:searchText | filter:{other_status:'other'}).length}}"></span>
						<span ng-if="!select" class="ng-binding" localize="DESKTOP_TOTAL_MESS"
							param1="{{ (rows | paging:currentPage:pagesize | filter:searchText | filter:{status:select}).length }}"></span>
						 <span class='desktopStatistic' ng-if="(rows | paging:currentPage:pagesize | filter:searchText | filter:{status:select} | filter:{other_status:'certain'}).length + (rows | paging:currentPage:pagesize | filter:searchText | filter:{other_status:'other'}).length">
						 	<span localize='桌面统计的其中'></span>
							<span ng-if="(rows | paging:currentPage:pagesize | filter:searchText | filter:{status:select} | filter:{status:'running'} | filter:{other_status:'certain'}).length"><span class="status16 running" localize-title="开机状态"></span> {{(rows | paging:currentPage:pagesize | filter:searchText | filter:{status:select} | filter:{status:'running'} | filter:{other_status:'certain'}).length }} <span localize="个"></span><span class="dohao">, </span></span>
							<span ng-if="(rows | paging:currentPage:pagesize | filter:searchText | filter:{status:select} | filter:{status:'shutdown'} | filter:{other_status:'certain'}).length"><span class="status16 shutdown" localize-title="关机状态"></span> {{(rows | paging:currentPage:pagesize | filter:searchText | filter:{status:select} | filter:{status:'shutdown'} | filter:{other_status:'certain'}).length }} <span localize="个"></span><span class="dohao">, </span></span>
							<span ng-if="(rows | paging:currentPage:pagesize | filter:searchText | filter:{status:select} | filter:{status:'error'} | filter:{other_status:'certain'}).length"><span class="status16 error" localize-title="错误状态"></span> {{(rows | paging:currentPage:pagesize | filter:searchText | filter:{status:select} | filter:{status:'error'} | filter:{other_status:'certain'}).length }} <span localize="个"></span><span class="dohao">, </span></span>
							<span ng-if="(rows | paging:currentPage:pagesize | filter:searchText | filter:{status:select} | filter:{status:'paused'} | filter:{other_status:'certain'}).length"><span class="status16 paused" localize-title="挂起状态"></span> {{(rows | paging:currentPage:pagesize | filter:searchText | filter:{status:select} | filter:{status:'paused'} | filter:{other_status:'certain'}).length }} <span localize="个"></span><span class="dohao">, </span></span>
							<span ng-if="(rows | paging:currentPage:pagesize | filter:searchText | filter:{status:select} | filter:{status:'nostate'} | filter:{other_status:'certain'}).length"><span class="status16 nostate" localize-title="未知"></span> {{(rows | paging:currentPage:pagesize | filter:searchText | filter:{status:select} | filter:{status:'nostate'} | filter:{other_status:'certain'}).length }} <span localize="个"></span><span class="dohao">, </span></span>
							<span ng-if="(rows | paging:currentPage:pagesize | filter:searchText | filter:{other_status:'other'}).length"><span class="status16 other" localize-title="其他"></span> {{(rows | paging:currentPage:pagesize | filter:searchText | filter:{other_status:'other'}).length }} <span localize="个"></span><span class="dohao">, </span></span>
						 </span>
					</div>
					<div class="col-sm-3">	
					</div>
				</header>
				<!-- widget div-->
				<div class="noborder">
					<!-- widget edit box -->
					<div class="jarviswidget-editbox"></div>

					<div class="widget-body no-padding">
						<div class="dataTables_wrapper form-inline no-footer">
							<!-- toolbar -->
							<div class="comment_mess">
									<ul class="clearfix comment_mess_ul">
										<li class="pull-left comment_mess_i"><label class="lable_name"><span localize="场景名">场景</span> :</label> {{res.mode_name}}</li>
										<li class="pull-left comment_mess_i"><label class="lable_name"><span localize="操作系统">操作系统</span> :</label> {{rows[0].system}}</li>
										<li class="pull-left comment_mess_i"><label class="lable_name"><span localize="模板名">模板</span> :</label> {{rows[0].image_name}}</li>
										<li class="pull-left comment_mess_i"><label class="lable_name"><span localize="CPU/内存/数据盘">CPU/内存/数据盘</span> :</label> 
											{{rows[0] && rows[0].vcpu}}<span localize='核'>核</span>/ {{rows[0] && rows[0].memory_mb/1024}}GB / {{rows[0] && rows[0].local_gb}}GB</li>
										<li class="pull-left comment_mess_i"><label class="lable_name"><span localize="网络">网络</span> :</label>{{rows[0].network.name}} <span ng-if="rows[0].network.cidr">( {{rows[0].network.dhcp_start}}-{{rows[0].network.dhcp_end}} ) </span></li>
										<li class="pull-left comment_mess_i"><label class="lable_name"><span localize="拟加入域">拟加入域</span> :</label>{{res.ad_server_name}}</li>
									</ul>
							</div>
							<div class="dt-toolbar">
								<div class="left-btn-group col-xs-8 col-sm-8">
									<a class="btn btn-xs btn-primary"  href="#/desktop/scene"><i class=" icon-jj-recovery fa"></i>  &nbsp;<span  localize="返回">返回</span></a>
									<a class="btn btn-xs btn-primary isBatch" data-ng-class="{disabled:!checkOne()}" data-ng-click="start()" href="javascript:"><i class="fa  icon-jj-boot"></i>&nbsp;<span localize="开机">开机</span></a>
									<div class="btn-group">
										<button class="btn btn-xs btn-primary dropdown-toggle isBatch" data-ng-class="{disabled:!checkOne()}" data-toggle="dropdown"><i class="fa icon-jj-shutdown"></i> &nbsp;<span localize="关机">关机</span> <span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a class="isBatch" data-ng-click="forceShutdown()" href="javascript:" localize="强制关机">强制关机</a></li>
											<li class="divider"></li>
											<li><a class="isBatch" data-ng-click="natureShutdown()" href="javascript:" localize="自然关机">自然关机</a></li>
										</ul>
									</div>
									<a class="btn btn-xs btn-primary isBatch" data-ng-class="{disabled:!checkOne()}" data-ng-click="restart()" href="javascript:"><i class="fa  icon-jj-Restart"></i>&nbsp;<span localize="重启">重启</span></a>
									<a class="btn btn-xs btn-primary isBatch" data-ng-class="{disabled:!checkOne()}" data-ng-click="pause()" href="javascript:"><i class="fa icon-jj-pause"></i>&nbsp;<span localize="挂起状态"></span></a>
									<a class="btn btn-xs btn-primary isBatch" data-ng-class="{disabled:!checkOne()}" data-ng-click="resume()" href="javascript:"><i class="fa icon-jj-Recovery"></i>&nbsp;<span localize="唤醒"></span></a>
									<a class="btn btn-xs btn-primary isBatch" data-ng-class="{disabled:!checkOne()}" data-ng-click="rename()" href="javascript:"><i class="fa icon-jj-edit"></i>&nbsp;<span localize="修改桌面计算机名">修改桌面计算机名</span></a>
									<a class="btn btn-xs btn-primary isBatch" data-ng-class="{disabled:!checkOne() || moveto_loading}" data-ng-click="moveto()" href="javascript:"><i class="fa icon-jj-move-1"></i>&nbsp;<span localize="移动至">移动至</span>&nbsp;<img ng-if="moveto_loading" style="position: relative;bottom: 2px" width="14px" height="14px" ng-src="img/HLloading.gif"></a>
									<!-- <a class="btn btn-xs btn-primary isBatch" data-ng-class="{disabled:!checkOne()}" data-ng-click="moveto()" href="javascript:"><i class="fa"></i>&nbsp;<span localize="移动至">移动至</span></a> -->
									<!-- <a class="btn btn-xs btn-danger isBatch" data-ng-class="{disabled:!checkOne()}" data-ng-click="delete()" href="javascript:"><i class="fa  icon-jj-delete"></i>&nbsp;<span localize="删除">删除</span></a> -->

								</div>
								<div class="right_side col-xs-4 col-sm-4">
									<div class="pull-right filter"> <span data-localize="显示"></span> <input min="1" max="500" placeholder="1-500" type="number" class="mysmallinput" data-ng-model="pagesize" data-ng-change="pageSizeChange()" input-number> <span data-localize="项结果"></span></div>
									<div class="pull-right dataTables_filter search"><label><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span> <input type="search" maxlength="20"  class="form-control" ng-model="searchText" ng-change="updateData(searchText,select)"></label></div>
								</div>
							</div>
							<!-- toolbar end -->
						</div>
						<div class="table-responsive">
							<table data-vdi-grid
								class="table table-striped table-condensed table-hover smart-form has-tickbox table-vertical-center"
								width="100%">
									<thead class="vdi_header">
										<tr>
											<th><label class="checkbox"><input type="checkbox" data-ng-model="checkedAll" data-ng-change="selectAllChange(checkedAll)" data-ng-checked="checkAll(all)" name="checkbox-inline"><i></i></label></th>
											<th ng-model="desktopSort" ng-click="desktopSort = !desktopSort;sortDesktopName('display_name', desktopSort)"  localize="桌面名">桌面</th>
											<th ng-model="runStatus" ng-click="runStatus = !runStatus;sort('status', runStatus)" localize="运行状态">运行状态</th>
											<th>IP/MAC</th>
											<th ng-model="userName" localize="桌面计算机名/用户名">桌面计算机名/用户名</th>
											<th localize="宿主机">宿主机</th>
											<!-- <th localize="当前域">当前域</th> -->
											<th data-localize="操作">操作</th>
										</tr>
									</thead>
									<tbody class="vdi_body">
										<tr data-ng-repeat="item in rows | filter:searchText | paging:currentPage:pagesize"
											data-contextmenu
											data-id="{{ item.id }}">
											<td><label class="checkbox"><input data-ng-model="item._selected" data-ng-checked="item._selected" type="checkbox" data-ng-value="item.id" name="checkbox-inline"><i></i></label></td>
											<td>
												<p title="{{ item.instance_id }}">{{ item.display_name }}</p>
												<p><span ng-if="item.usb_redir " class="fa icon-jj-usb flag-icon"></span><span class="icon-jj-HA flag-icon" ng-if="item.needha"></span></p>
												<p ng-if="item.mark_ha"><span class="fa  icon-jj-HA flag-icon"></span></p>
												<p ng-if="item.gpu_type == 'share'" data-localize-title="显卡共享"><span class="fa icon-jj-025 flag-icon"></span></p>
												<p ng-if="item.gpu_type == 'through'" data-localize-title="显卡直通"><span class="fa icon-jj-026 flag-icon"></span></p>
											</td>
											<td><span ng-if="item.status=='running' && !item.task_state" localize-title="开机状态" class="status32" ng-class="item.status"></span>
												<span ng-if="item.status=='shutdown' && !item.task_state" localize-title="关机状态" class="status32" ng-class="item.status"></span>
												<span ng-if="item.status=='paused' && !item.task_state" localize-title="挂起状态" class="status32" ng-class="item.status"></span>
												<span ng-if="item.status=='nostate' && !item.task_state" localize-title="未知状态" class="status32" ng-class="item.status"></span>
												<span ng-if="(item.status=='error' && !item.task_state) || (item.status=='crashed' && !item.task_state)" localize-title="错误状态" class="status32" ng-class="item.status"></span>
												<span ng-if="item.task_state" title="{{ item.tips }}" class="status32 building"></span>
												<p>{{ item.running_time }}</p></td>
											<td>
												<p>{{item.ips}}</p>
												<p>{{ item.mac }}</p></td>
											<!-- <td>{{ item.mode_name }}</td> -->
											<td>
												{{ item.vm_hostname }} <span ng-show="item.vm_hostname && item.vm_username">/</span>
												{{ item.vm_username }}
											</td>
											<td>{{ item.hostname }}</td>
											<!-- <td>{{ item.ad_domain_name }}</td> -->

<!-- 											<td class="view_personal_desktop">
												<button class="btn btn-xs btn-default"  data-ng-click="view(item)" localize-title="查看桌面" ng-disabled="item.status!=='running'"><i class="fa icon-jj-look"></i></button></td>
 -->										<td class="view_personal_desktop">
												<div class="more_list_container more_list_container-right">
													<a href="javascript:" class="icon more_icon" data-localize-title="MORE"><i class="fa icon-jj-more"></i></a>
													<div class="menu_wrapper my_menu_wrapper">
														<div class="arraw"></div>
														<ul class="menu_item_list">
															<li class="menu_item" ng-disabled="item.status!=='running'"><a class="menu_label" data-ng-click="view(item)" href="javascript:void(0)"><span data-localize="查看桌面"></span></a></li>
															<li class="menu_item"><a class="menu_label" data-ng-click="viewStorage(item)" href="javascript:void(0)"><span data-localize="存储详情"></span></a></li>
														</ul>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
							</table>
						</div>
						<div class="tips" data-ng-if="loading"  localize="LOADING_TEXT">数据正在加载...</div>
						<div class="tips" data-ng-if="!loading && rows.length == 0" localize="NO_MATCHING_DATA">没有匹配数据</div>
						<div data-ng-include="'includes/pagination.html'"></div>
					</div>
					<!-- end widget content -->
				</div>
				<section class="context_wrapper">
					<div data-ng-if="currentItem" class="menu_wrapper grid_context_menu">
						<ul class="menu_item_list">
							<li class="menu_item" ng-disabled="(currentItem.status!=='shutdown' && currentItem.status!=='suspended') || currentItem.task_state"  data-ng-click="start(currentItem)"><a class="menu_label" href="javascript:" localize="开机">开机</a></li>
							<li class="menu_item" ng-disabled="(currentItem.status!=='running' && currentItem.status!=='suspended') || currentItem.task_state"><a class="menu_label" href="javascript:" ><span localize="关机">关机</span><i></i></a>
								<div class="menu_wrapper sub_menu">
									<ul class="menu_item_list">
										<li class="menu_item" data-ng-click="forceShutdown(currentItem)" ng-disabled="(currentItem.status!=='running' && currentItem.status!=='suspended') || currentItem.task_state" ><a class="menu_label" href="javascript:" localize="强制关机">强制关机</a></li>
										<li class="menu_split"></li>
										<li class="menu_item" data-ng-click="natureShutdown(currentItem)" ng-disabled="(currentItem.status!=='running' && currentItem.status!=='suspended') || currentItem.task_state" ><a class="menu_label" href="javascript:" localize="自然关机">自然关机</a></li>
									</ul>
								</div>
							</li>
							<li class="menu_item" data-ng-click="restart(currentItem)"  ng-disabled="(currentItem.status!=='running' && currentItem.status!=='suspended') || currentItem.task_state"><a class="menu_label" href="javascript:" localize="重启">重启</a></li>
							<li class="menu_item" data-ng-click="pause(currentItem)" ng-disabled="currentItem.status!=='running' || currentItem.task_state"><a class="menu_label" href="javascript:"  localize="挂起状态"></a></li>
							<li class="menu_item" data-ng-click="resume(currentItem)" ng-disabled="currentItem.status!=='paused' || currentItem.task_state"><a class="menu_label" href="javascript:"  localize="唤醒"></a></li>
							<!-- <li class="menu_item" data-ng-click="delete(currentItem)"><a class="menu_label" href="javascript:" localize="删除">删除</a></li>
							<li class="menu_split"></li> -->
							<li class="menu_split"></li>
							<li class="menu_item" ng-disabled="currentItem.status=='paused' || currentItem.status=='running' || currentItem.task_state" data-ng-click="reset(currentItem)"><a class="menu_label" href="javascript:"  localize="重置">重置</a></li>
							<li class="menu_item" ng-disabled="currentItem.status=='paused' || currentItem.status=='running' || currentItem.task_state" data-ng-click="alter(currentItem)"><a class="menu_label" href="javascript:"  localize="修改桌面计算机名">修改桌面计算机名</a></li>
							<li class="menu_item" ng-show="currentItem.virtual_type === 'kvm'" ng-disabled="currentItem.status!=='running' || currentItem.task_state || currentItem.enable_gpu" data-ng-click="migration(currentItem)"><a class="menu_label" href="javascript:"  localize="动态迁移">动态迁移</a></li>
							<li class="menu_item" ng-show="currentItem.virtual_type === 'kvm'" ng-disabled="currentItem.status!=='shutdown' || currentItem.task_state" data-ng-click="moveto(currentItem)"><a class="menu_label" href="javascript:"  localize="移动至">移动至</a></li>

							<!-- <li class="menu_item" data-ng-click="view(currentItem)"><a class="menu_label" href="javascript:" localize="查看桌面">查看桌面</a></li> -->
							<!-- <li class="menu_item" data-ng-class="{disabled:currentItem.status}" data-ng-click="start(currentItem)"><a class="menu_label" href="javascript:" ng-disabled="currentItem.status!=='shutdown'" localize="开机">开机</a></li>
							<li class="menu_item"><a class="menu_label btn" href="javascript:" ng-disabled="currentItem.status!=='running'"><span localize="关机">关机</span><i></i></a>
								<div class="menu_wrapper sub_menu">
									<ul class="menu_item_list">
										<li class="menu_item"><a class="menu_label btn"  ng-disabled="currentItem.status!=='running'"  href="javascript:" localize="强制关机">强制关机</a></li>
										<li class="menu_split"></li>
										<li class="menu_item"><a class="menu_label btn"  ng-disabled="currentItem.status!=='running'"  href="javascript:" localize="自然关机">自然关机</a></li>
									</ul>
								</div>
							</li>
							<li class="menu_item" data-ng-click="restart(currentItem)"><a class="menu_label btn" href="javascript:" ng-disabled="currentItem.status!=='running'" localize="重启">重启</a></li>
							<li class="menu_item" data-ng-click="pause(currentItem)"><a class="menu_label btn" href="javascript:" ng-disabled="currentItem.status!=='running'" localize="暂停">暂停</a></li>
							<li class="menu_item" data-ng-click="resume(currentItem)"><a class="menu_label btn" href="javascript:" ng-disabled="currentItem.status!=='paused'" localize="恢复">恢复</a></li>
							<li class="menu_item" data-ng-click="delete(currentItem)"><a class="menu_label" href="javascript:" localize="删除">删除</a></li>
							<li class="menu_split"></li>
							<li class="menu_item" data-ng-click="view(currentItem)"><a class="menu_label" href="javascript:" localize="查看桌面">查看桌面</a></li> -->
						</ul>
					</div>
				</section>
				<!-- end widget div -->
			</div>
			<!-- end widget -->
		</article>
	</div>
</section>
<script>pageSetUp();</script>
