<section id="widget-grid">
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div data-widget-grid class="jarviswidget">
				<!-- widget div-->
				<div class="noborder">
					<div class="jarviswidget-editbox"></div>
					<div class="widget-body no-padding">
						<section class="dt-toolbar">
							<div class="left_side left-btn-group col-xs-6">
								<a class="btn btn-xs btn-danger isBatch" data-ng-class="{disabled:!checkOne()}" data-ng-click="delete()"  href="javascript:"><i class="fa  icon-jj-delete"></i> <span data-localize="删除"></span></a>
								<a class="btn btn-xs btn-danger isBatch" data-ng-disabled="rows.length == 0" data-ng-click="deleteAll()" href="javascript:"><i class="fa  icon-jj-Empty"></i> <span data-localize="清空"></span></a>
							</div>
							<div class="right_side col-xs-6">
								<div class="pull-right filter">
									<span data-localize="显示"></span>
									<input type="number" min="1" max="500" placeholder="1-500" class="mysmallinput" input-number
										data-ng-model="pagesize"
										data-ng-change="pageSizeChange()"
									/>
									<span data-localize="项结果"></span>
								</div>
								<div class="pull-right dataTables_filter search"><label><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span> <input type="search" maxlength="20" class="form-control" ng-model="searchText" ng-change="updateData(searchText,null)" ></label></div>
							</div>
						</section>
						<div class="table-responsive">
							<table data-vdi-grid
								class="table table-striped table-condensed table-hover smart-form has-tickbox"
								width="100%">
								<thead class="vdi_header">
									<tr>
		<th><label class="checkbox"><input type="checkbox" data-ng-model="checkedAll" data-ng-change="selectAllChange(checkedAll)" data-ng-checked="checkAll(all)" name="checkbox-inline"><i></i></label></th>
										<th data-localize="序号"></th>
										<th ng-model="objectSort" ng-click="objectSort = !objectSort;sort('object', objectSort)" data-localize="对象"></th>
										<th data-localize="内容"></th>
										<th ng-model="created_atSort" ng-click="created_atSort = !created_atSort;sort('created_at', created_atSort)" data-localize="时间"></th>
									</tr>
								</thead>
								<tbody class="vdi_body">
									<tr data-ng-repeat="item in rows | filter:searchText | paging:currentPage:pagesize">
		<td><label class="checkbox"><input data-ng-model="item._selected" data-ng-checked="item._selected" type="checkbox" data-ng-value="item.id" name="checkbox-inline"><i></i></label></td>
										<td>{{ $index+1 }}</td>
										<td>{{ item.object }}</td>
										<td>{{ item.content }}</td>
										<td>{{ item.created_at | date:'yyyy-MM-dd HH:mm:ss' }}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="tips" data-ng-if="loading" data-localize="LOADING_TEXT"></div>
						<div class="tips" data-ng-if="!loading && rows.length == 0" data-localize="NO_MATCHING_DATA"></div>
						<div data-ng-include="'includes/pagination.html'"></div>
					</div>
					<!-- end widget content -->
				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->
		</article>
		<!-- WIDGET END -->
	</div>
	<!-- end row -->
</section>
<script>pageSetUp();</script>