<div class="margin-bottom-10">
	<span>
		<span data-localize="主机："></span>
		<select data-ng-model="item" data-ng-change="change_server(item)" data-ng-options="item.ip for item in items"></select>
	</span>
	<span>
		&nbsp;&nbsp;&nbsp;&nbsp;<span data-localize="刷新频率"></span>
		<select ng-model="refresh_time">
    		<option value="3000" selected>3s</option>
    		<option value="5000">5s</option>
    		<option value="10000">10s</option>
    	</select>
	</span>
</div>


<section>
	<div class="row">
		<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="jarviswidget jarviswidget-sortable">
				<header role="heading">
					<h2 data-localize="CPU占用率"></h2>
				</header>
				<div role="content">
					<div options="cpu_options" area-traffic></div>
				</div>
			</div>
		</div>
		<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="jarviswidget jarviswidget-sortable">
				<header role="heading">
					<h2 data-localize="内存"></h2>
				</header>
				<div role="content">
					<div area-traffic options="mem_options"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="jarviswidget jarviswidget-sortable">
				<header role="heading">
					<h2 data-localize="网络上下行流量"></h2>
                    <select ng-model="net_category" class="select_Monitor" data-ng-options="net for net in net_categories">
                    </select>
				</header>
				<div role="content">
					<div area-traffic options="net_options"></div>
				</div>
			</div>

			<div class="jarviswidget jarviswidget-sortable">
				<header role="heading">
					<h2 data-localize="磁盘读写速度"></h2>
                    <select ng-model="disk_category" class="select_Monitor" data-ng-options="disk for disk in disk_categories">
                    </select>
				</header>
				<div role="content">
					<div area-traffic options="disk_options"></div>
				</div>
			</div>
		</div>

        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <div class="jarviswidget jarviswidget-sortable">
                <header role="heading">
                    <h2 data-localize="进程"></h2>
                </header>
                <div role="content">
                    <div class="table-responsive jincheng">
                        <table data-vdi-grid class="table table-striped table-condensed table-hover smart-form has-tickbox"
                               width="100%">
                            <thead class="vdi_header">
                            <tr>
                                <th ng-model="pidSort" ng-click="pidSort = !pidSort;sort('pid', pidSort)">PID</th>
                                <th ng-model="userSort" ng-click="userSort = !userSort;sort('user', userSort)">USER</th>
                                <!--<th>PR</th>-->
                                <!--<th>NI</th>-->
                                <!--<th>VIRT</th>-->
                                <!--<th>RES</th>-->
                                <!--<th>SHR</th>-->
                                <!--<th>S</th>-->
                                <th ng-model="cpuSort" ng-click="cpuSort = !cpuSort;sort('cpu', cpuSort)">CPU</th>
                                <th ng-model="memSort" ng-click="memSort = !memSort;sort('mem', memSort)">MEM</th>
                                <th ng-model="timeSort" ng-click="timeSort = !timeSort;sort('time', timeSort)">TIME+</th>
                                <th>COMMAND</th>
                            </tr>
                        </thead>
                        <tbody class="vdi_body">
                            <tr data-ng-repeat="item in metric_data.processs_list">
                                <td>{{ item.pid }}</td>
                                <td>{{ item.username }}</td>
                                <!--<td>{{item.pr }}</td>-->
                                <!--<td>{{ item.ni }}</td>-->
                                <!--<td>{{ item.virt }}</td>-->
                                <!--<td>{{ item.res }}</td>-->
                                <!--<td>{{ item.shr }}</td>-->
                                <!--<td>{{ item.s}}</td>-->
                                <td>{{ item.cpu_percent}}%</td>
                                <td>{{ (item.memory_percent).toFixed(2) }}%</td>
                                <td>{{ item.create_time*1000 | date:"yyyy-MM-dd HH:mm:ss" }}</td>
                                <td>{{ item.name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<script type="text/javascript">
    $(".jincheng").on("scroll", function(e){
    var toolbar = $(".vdi_header");
    var table = $(".vdi_body");
    var topHei = (toolbar.length && table.length) ? table.offset().top - toolbar.innerHeight() : 0;
    if(topHei){
        toolbar.css({
            "transform":"translateY("+($(".jincheng").scrollTop())+"px)"
        })
    }
});
</script>
