<div class="modal-header">
    <button type="button" class="close" data-ng-click="close()" ng-hide="loading"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" localize="主备控切换"></h4>
</div>
<div class="modal-body">
    <img ng-src="img/ajax-loader.gif" style="width:48px;height:48px;display:block;margin:0 auto;"/>
    <div style="margin-top: 20px;" class="text-center" localize="switchBrainTips"></div>
</div>
<!--
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-click="shutdown()">确定</button>
</div>
-->
